:root {
	--neon-color: #00ff23;
	--white: #fff;
	--evo-center-color: #004a00;

	// Літо   transparent
	--season-Bg: transparent;
	--season-color1: #ff9b25;
	--season-color2: #ff9b25;

	--filter: drop-shadow(0px 0px 5px var(--white)) drop-shadow(0px 0px 5px var(--white))
		drop-shadow(0px 0px 10px var(--season-color2)) drop-shadow(0px 0px 10px var(--season-color2))
		drop-shadow(0px 0px 10px var(--season-color2)) drop-shadow(0px 0px 50px var(--season-color2))
		drop-shadow(0px 0px 100px var(--season-color2));

	--text-border-1px: 1px 1px #000000, -1px 1px #000000, 1px -1px #000000, -1px -1px #000000;
	--text-border-2px: 1px 1px #000000, -1px 1px #000000, 1px -1px #000000, -1px -1px #000000, 1px 0px #000000,
		-1px 0px #000000, 0px 1px #000000, 0px -1px #000000, 2px 2px #000000, -2px 2px #000000, 2px -2px #000000,
		-2px -2px #000000, 2px 0px #000000, -2px 0px #000000, 0px 2px #000000, 0px -2px #000000;

	--padding-LR: 11rem;

	// // Зима   #506D8D
	// --season-Bg: #506d8d;
	// --season-color1: #506d8d;
	// --season-color2: #2571c6;

	// // Весна   #48385F
	// --season-Bg: #48385f;
	// --season-color1: #48385f;
	// --season-color2: #895297;

	// // Осінь   #641811
	// --season-Bg: #641811;
	// --season-color1: #641811;
	// --season-color2: #d11f1f;

	// Зима   #506D8D
	// Весна   #48385F
	// Літо   transparent
	// Осінь   #641811
}

@font-face {
	font-family: "Digital-7";
	src: url("../IMG/font/digital-7.eot");
	src: url("../IMG/font/digital-7.ttf") format("truetype"), url("../IMG/font/digital-7.woff") format("woff"),
		url("../IMG/font/digital-7.woff2") format("woff2");
	font-style: normal;
	font-weight: normal;
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: var(--season-color-select);
}

::selection {
	background-color: var(--season-color-select);
}

a {
	text-decoration: none;
	color: var(--season-color2);
}

h1,
h2,
li,
p,
span,
.border-text,
.time {
	text-shadow: 1px 1px #000000, -1px 1px #000000, 1px -1px #000000, -1px -1px #000000;
	// text-shadow: 1px 1px #000000, -1px 1px #000000, 1px -1px #000000, -1px -1px #000000, 1px 0px #000000,
	// 	-1px 0px #000000, 0px 1px #000000, 0px -1px #000000, 2px 2px #000000, -2px 2px #000000, 2px -2px #000000,
	// 	-2px -2px #000000, 2px 0px #000000, -2px 0px #000000, 0px 2px #000000, 0px -2px #000000, 3px 3px #000000,
	// 	-3px 3px #000000, 3px -3px #000000, -3px -3px #000000, 3px 0px #000000, -3px 0px #000000, 0px 3px #000000,
	// 	0px -3px #000000, 4px 4px #000000, -4px 4px #000000, 4px -4px #000000, -4px -4px #000000, 4px 0px #000000,
	// 	-4px 0px #000000, 0px 4px #000000, 0px -4px #000000, 5px 5px #000000, -5px 5px #000000, 5px -5px #000000,
	// 	-5px -5px #000000, 5px 0px #000000, -5px 0px #000000, 0px 5px #000000, 0px -5px #000000;

	// --text-border-size: 1px;
	// text-shadow: var(--text-border-size) var(--text-border-size) #000000,
	// 	calc(var(--text-border-size) - var(--text-border-size) - var(--text-border-size)) var(--text-border-size) #000000,
	// 	var(--text-border-size) calc(var(--text-border-size) - var(--text-border-size) - var(--text-border-size)) #000000,
	// 	calc(var(--text-border-size) - var(--text-border-size) - var(--text-border-size))
	// 		calc(var(--text-border-size) - var(--text-border-size) - var(--text-border-size)) #000000;
}

html {
	font-size: 10px;
}

body {
	// height: 10000px;
	display: flex;
	flex-direction: column;
	min-width: 100vw;
	min-height: 100vh;
	font-size: 24px;
	color: var(--white);
	overflow-x: hidden;

	background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
		radial-gradient(115% 160% at 50% 100%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 65%, #000000 100%),
		linear-gradient(0deg, var(--season-Bg), var(--season-Bg)), url(../IMG/MGG-BG.png);
	background-blend-mode: overlay, normal, color, normal;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	&.noScroll {
		overflow: hidden;
	}
}

::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	background: #000;
	background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7)),
		linear-gradient(0deg, var(--season-Bg), var(--season-Bg)), url(../IMG/MGG-BG.png);
	background-blend-mode: normal, color, normal;
	background-size: cover;
	background-position: center center;
	// background-attachment: fixed;
	// border-radius: 20px;
}
::-webkit-scrollbar-thumb {
	background: var(--white);
	border-radius: 20px;
	border: 2px solid #000;
}

.conteiner {
	margin: 0 auto;
	width: 100%;
	max-width: 114rem;
}

input[type="checkbox"] {
	position: absolute;
	appearance: none;
	opacity: 0;
}

header {
	font-size: 1rem;
	padding-top: 7rem;
	.subtitle {
		text-align: center;
		font-size: 4em;
		color: var(--neon-color);
		span {
			opacity: 1;
			text-shadow: 0px 0px 50px #00ff23, 0px 0px 50px #00ff23, 0px 0px 25px #00ff23, 0px 0px 10px #00ff23,
				0px 0px 5px #00ff23, 0px 0px 2px #00ff23;
			--spead-animation-s: 0s;
			--delay-animation-s: 0s;
			animation: neon-animation var(--spead-animation-s) ease-in-out var(--delay-animation-s) infinite both;
		}
	}
	.title {
		text-align: center;
		margin-top: -1rem;
		font-size: 14.5em;
		text-shadow: var(--text-border-2px);
	}
	.event-number {
		text-align: center;
		font-size: 9.6em;
		margin-top: -2.5rem;
		text-shadow: var(--text-border-2px);
	}

	.main {
		position: relative;
		display: inline-block;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 9.6em;
		width: 100%;
		min-height: 1.3em;
		cursor: pointer;

		// &-timer,
		// &-end
		// p
		&-timer {
			position: absolute;
			width: 100%;
			left: 50%;
			transform: translateX(-50%);
			transition: opacity 0.3s linear;
		}
	}
	input[type="checkbox"] + label.main {
		.main-timer {
			opacity: 1;
			pointer-events: painted;
		}
		.main-end {
			opacity: 0;
			pointer-events: none;
		}
	}
	input[type="checkbox"]:checked + label.main {
		.main-timer {
			opacity: 0;
			pointer-events: none;
			transition: opacity 0.3s linear;
		}
		.main-end {
			opacity: 1;
			pointer-events: painted;
			transition: opacity 0.3 linear;
		}
	}
}

main {
	flex: 1 1 auto;
	margin-top: 4.5rem;
}
.list {
	position: relative;
	// display: flex;
	// align-items: center;
	// justify-content: flex-start;
	font-size: 1rem;
	margin-bottom: 3.5em;
	&::before {
		content: "";
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: -100%;
		width: 450px;
		height: 10px;

		background: linear-gradient(90deg, rgba(255, 155, 37, 0) 0%, var(--season-color2) 70%, var(--white) 100%);
		filter: blur(2px);
		border-radius: 100px;
		animation: item-list-order 10s linear 2s infinite both;
	}
	.conteiner {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		// justify-content: flex-start;
		flex-wrap: wrap;
	}
	&-item {
		position: relative;
		display: inline-block;
		font-size: 2rem;
		width: 3.25em;
		height: 3.25em;

		// transition: all var(--animation-deley) linear var(--animation-deley);
		opacity: 0;
		transform: translateY(150%);
		&.active {
			opacity: 1;
			transform: translateY(0%);
		}
		&:not(:first-child) {
			margin-left: -0.3em;
		}
		label,
		label:hover,
		.duration {
			cursor: pointer;
			transition: all 0.2s linear;
		}
		label {
			position: absolute;
			width: 85%;
			height: 85%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: center/cover var(--img);
			opacity: 0.4;
			filter: drop-shadow(0 0 transparent) grayscale(1);
			&::after,
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition: all 0.1s linear;

				background: center/cover var(--img);
				filter: blur(0px);
				// z-index: -1;
			}
			&:hover {
				width: 100%;
				height: 100%;
				opacity: 1;
				filter: grayscale(0);
				&::before {
					// transform: translate(-50%, -50%) scale(2);
					// filter: blur(10px);
					filter: blur(15px);
				}
			}
		}
		.duration {
			position: absolute;
			pointer-events: none;
			bottom: -0.15em;
			width: 100%;
			text-align: center;
			left: 50%;
			transform: translateX(-50%);
		}
		&.now {
			filter: var(--filter) grayscale(0);
			label {
				opacity: 1;
				filter: grayscale(1);
			}
			// input[type="checkbox"]:checked ~ *,
			// input[type="checkbox"] ~ * {
			// 	filter: var(--filter) grayscale(0);
			// }
			input[type="checkbox"]:checked ~ label {
				&::before,
				&::after {
					filter: blur(0px);
				}
			}
		}
	}
	input[type="checkbox"]:checked ~ label {
		width: 100%;
		height: 100%;
		opacity: 1;
		filter: grayscale(0);
		&::before,
		&::after {
			filter: blur(0px);
		}
	}
}

.timers {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 0.5rem;
	.event {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		font-size: 2rem;
		.screen {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 13.5em;
			height: 10em;
			background: center/cover url(../IMG/Border-item.png);
			&::before {
				content: "";
				position: absolute;
				width: 90%;
				height: 85%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				// transition: all 0.5s linear;
				// --deg: 240;
				background: linear-gradient(240deg, #1479ba 5%, #29b476 95%);
				z-index: -1;
			}
			// &:hover .screen::before {
			// 	--deg: 0;
			// }
			.event-name,
			.event-duration,
			.timer {
				text-shadow: none;
				text-align: center;
			}
			.event-name {
				font-size: 1em;
				margin-top: 1.35em;
			}
			.event-duration {
				font-size: 0.7em;
				margin-top: -0.14em;
			}
			.icon {
				width: 4.25em;
				height: 4.25em;
				background: center/cover url(../IMG/items/Jackpot_Token.png);
				margin: auto 0;
			}
			.timer {
				font-size: 1em;
				margin-bottom: 1.25em;
			}
		}
		.time {
			font-size: 1em;
			text-align: center;
			span {
				font-size: 0.9em;
			}
		}
	}
}

footer {
	font-size: 2.4rem;
	position: relative;
	min-height: 122px;
	padding: 50px 0 48px;
	text-align: center;
	// text-shadow: var(--text-border-1px), var(--text-shadow);
	text-shadow: var(--text-border-1px);
	filter: var(--filter);
	overflow: hidden;
	&::after {
		content: "";
		position: absolute;
		width: 110rem;
		height: 110rem;
		top: calc(100% - 13px);
		left: 50%;
		transform: translateX(-50%);

		background: var(--white);
		// box-shadow: 0px 0px 10px var(--white), 0px 0px 10px var(--white), 0px 0px 25px var(--season-color2),
		// 	0px 0px 25px var(--season-color2), 0px 0px 25px var(--season-color2), 0px 0px 100px var(--season-color2),
		// 	0px 0px 50px var(--season-color2);
		border-radius: 48% 50% 48% 45%;
		animation: rotate-footer var(--speed-animation-s) linear infinite both;
	}
}

// button.info,
// aside.info {
// 	position: absolute;
// 	display: none;
// }

button.info {
	display: block;
	position: fixed;
	font-size: 3rem;
	width: 1.334em;
	height: 1.334em;
	right: var(--padding-LR);
	top: var(--padding-LR);
	cursor: pointer;
	text-align: center;

	background: var(--white);
	color: #000;
	// mix-blend-mode: color-dodge;

	border-radius: 50%;
	transition: all 0.2s ease-in-out;
	opacity: 0.4;
	&:hover {
		opacity: 1;
	}
}

aside.info {
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	transition: all 0.2s linear;
	background: rgba(0, 0, 0, 0.35);
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	font-size: 1rem;
	padding-bottom: 11rem;
	&.active {
		opacity: 1;
		visibility: visible;
		pointer-events: painted;
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		// box-shadow: inset 0px 0px 500px 100px #000000;
		pointer-events: none;
		z-index: -1;
	}
	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: var(--padding-LR) var(--padding-LR) 0;
		margin-bottom: 0px;
		// font-size: 1rem;

		.facebook,
		.exit {
			font-size: 3rem;
			position: relative;
			width: 1.334em;
			height: 1.334em;
			cursor: pointer;
			background: var(--white);

			border-radius: 50%;
			transition: all 0.2s ease-in-out;

			opacity: 0.4;
			// overflow: hidden;
			&:hover {
				opacity: 1;
			}
		}
		.facebook {
			position: relative;
			a {
				position: absolute;
				font-size: 1.667em;
				text-align: center;
				padding: 0.4em;
				color: #000;
				// mix-blend-mode: color-dodge;

				top: 70%;
				left: 53%;
				transform: translate(-50%, -50%);
			}
			&::before {
				font-size: 0.8em;
				padding: 0.333em;
				content: "My Facebook";
				width: 6.25em;
				height: 1.667em;
				background: var(--white);
				border-radius: 50px;

				position: absolute;
				top: 50%;
				left: 100%;
				transform: translate(-100%, -50%);

				color: #000000;
				text-align: center;
				line-height: 100%;

				pointer-events: none;
				// filter: blur(20px);
				opacity: 0;
				transition: all 0.2s linear;
				z-index: 1;
			}
			&:hover::before {
				opacity: 1;
				transform: translate(15px, -50%);
				// filter: blur(0);
			}
		}
		.exit {
			position: relative;
			&::before,
			&::after {
				content: "";
				position: absolute;
				width: 0.1333em;
				height: 1em;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%) rotate(0deg);
				background: #000000;
				border-radius: 50px;

				// transform: rotate(-45deg);
			}
			&::after {
				transform: translate(-50%, -50%) rotate(-90deg);
			}
			&:hover {
				transform: rotate(45deg);
				// &::before,
				// &::after {
				// 	border-radius: 50%;
				// }
			}
		}
	}

	.content {
		// position: relative;
		flex: 1 1 auto;
		.questions {
			position: relative;
			font-size: 7.2em;
			text-align: center;
			color: var(--white);
			text-shadow: 0px 0px 25px #89ccff, 0px 0px 50px #39a9fe, 0px 0px 100px #305fa9;
			margin-bottom: 1em;
			&::before,
			&::after {
				font-size: 1rem;
				position: absolute;
				content: "";
				width: 15em;
				height: 15em;
				background: center/cover url(../IMG/items/Med_pack.png);
				filter: drop-shadow(0px 0px 25px #89ccff) drop-shadow(0px 0px 50px #39a9fe)
					drop-shadow(0px 0px 100px #305fa9);
				z-index: -1;
			}
			&::before {
				left: 10%;
				top: 50%;
				transform: translate(0, -50%) rotate(-45deg) scale(0.9);
			}
			&::after {
				right: 10%;
				top: 50%;
				transform: translate(0, -50%) rotate(8deg);
			}
		}
	}
	.interactive-background {
		// position: absolute;
		// width: 100vw;
		// height: 100vh;
		// top: 0;
		// left: 0;
		// z-index: -3;
		position: relative;
		pointer-events: none;
		display: flex;
		flex-direction: row;
		font-size: 1rem;
		// transform: translateY(-110px);
		.tips {
			display: flex;
			align-items: flex-end;
			flex-direction: row;
			--animation-duration: 25s;
			.med-pack {
				position: relative;
				width: 35em;
				height: 25.5em;
				filter: drop-shadow(0px 0px 25px #89ccff) drop-shadow(0px 0px 50px #39a9fe)
					drop-shadow(0px 0px 100px #305fa9);
				// background-color: blue;
				--animation-delay: 0s;
				.item {
					position: absolute;
					--scale-size: 1;
					--z-index: 1;
					--bottom: 0%;
					--left: 0%;
					--rotate: 0deg;
					width: 9em;
					height: 9em;
					bottom: var(--bottom);
					left: var(--left);
					transform: scale(var(--scale-size)) rotate(var(--rotate));
					background: center/cover url(../IMG/items/Med_pack.png);
					z-index: var(--z-index);
					// filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
					&:nth-child(1) {
						--scale-size: 1;
						--z-index: 4;
						--bottom: 3.1em;
						--left: 2.8em;
						--rotate: -13deg;
					}
					&:nth-child(2) {
						--scale-size: 1.3;
						--z-index: 5;
						--bottom: 2.3em;
						--left: 10em;
						--rotate: 0deg;
					}
					&:nth-child(3) {
						--scale-size: 2;
						--z-index: 3;
						--bottom: 4.5em;
						--left: 19em;
						--rotate: 11deg;
					}
					&:nth-child(4) {
						--scale-size: 2;
						--z-index: 2;
						--bottom: 9.5em;
						--left: 5em;
						--rotate: -13deg;
					}
					&:nth-child(5) {
						--scale-size: 1.26;
						--z-index: 1;
						--bottom: 10em;
						--left: 14em;
						--rotate: 3deg;
					}
				}
			}
			.boxing {
				width: 18em;
				height: 18em;
				background: center/cover url(../IMG/items/Kraft_box.png);
				transform: rotate(-19.5deg) translate(-10px, -95px);
				filter: drop-shadow(0px 0px 25px #fff4fc) drop-shadow(0px 0px 50px #fa3531)
					drop-shadow(0px 0px 100px #8b1bad);
				--animation-delay: 5s;
			}
			.jackpot-token {
				width: 14em;
				height: 14em;
				transform: translateY(-3em);
				background: center/cover url(../IMG/items/Jackpot_Token.png);
				filter: drop-shadow(0px 0px 25px #fbf655) drop-shadow(0px 0px 50px #2bb866)
					drop-shadow(0px 0px 100px #06321b);
				--animation-delay: 10s;
			}
			.gold {
				position: relative;
				width: 27.5em;
				height: 26em;
				transform: translate(-9em, -19em);
				filter: drop-shadow(0px 0px 25px #fdfdcb) drop-shadow(0px 0px 50px #ffe970)
					drop-shadow(0px 0px 100px #b77118);
				// background-color: chartreuse;
				--animation-delay: 15s;
				.item {
					position: absolute;
					--scale-size: 1;
					--z-index: 1;
					--bottom: 0%;
					--left: 0%;
					--rotate: 0deg;
					width: 19.5em;
					height: 19.5em;
					bottom: var(--bottom);
					left: var(--left);
					transform: scale(var(--scale-size)) rotate(var(--rotate));
					background: center/cover url(../IMG/items/Gold.png);
					z-index: var(--z-index);
					// filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
					&:nth-child(1) {
						--scale-size: 1;
						--z-index: 1;
						--bottom: 4em;
						--left: 2em;
						--rotate: 12deg;
					}
					&:nth-child(2) {
						--scale-size: 1;
						--z-index: 2;
						--bottom: 2em;
						--left: 6em;
						--rotate: 30deg;
					}
				}
			}
			& * {
				transition: all 0.2s linear;
				cursor: pointer;
				pointer-events: painted;
				animation: item-opacity var(--animation-duration) linear infinite var(--animation-delay) both;
				animation: item-levitation var(--speed-animation-s) linear infinite both;
				animation-play-state: paused;
			}
		}
		.levels {
			position: absolute;
			width: 265px;
			height: 470px;
			right: 0;
			bottom: 0;
			background: center/cover url(../IMG/EvolutionCenter/back-s.png);
			// transform: scale(1);
			transform-origin: center bottom;
			.content {
				position: relative;
				height: 100%;
				z-index: 2;
				&::before,
				&::after {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					z-index: -1;
				}
				&::after {
					background: center/cover url(../IMG/EvolutionCenter/front-s.png);
				}
				&::before {
					// --lvl: 200px-
					// --lvl: var(--lvl-s) px ;
					height: 300px;
					transition: all calc(var(--lvl-s) * var(--level-speed, 0.01s)) linear;
					background: center top/cover url(../IMG/EvolutionCenter/lvl-s.png);
					height: calc(300px + (var(--lvl) * (252 / 999))); //552 252
					// height: calc(300px + var(--lvl));
					bottom: 5%;
				}
				span {
					position: absolute;
					font-family: "Digital-7";
					color: var(--evo-center-color);
					text-shadow: none;
					font-style: normal;
					font-weight: normal;
					pointer-events: painted;
					&:nth-child(1) {
						font-size: 20px;
						bottom: 20%;
						left: 45%;
						transform: translate(-50%, -50%);
					}
					&:nth-child(2) {
						font-size: 47px;
						bottom: 7%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}
				.shadow {
					position: absolute;
					width: 100%;
					height: 105px;

					background: radial-gradient(
						50% 50% at 50% 50%,
						#000000 0%,
						rgba(0, 0, 0, 0.75) 40%,
						rgba(0, 0, 0, 0.45) 70%,
						rgba(0, 0, 0, 0) 100%
					);
					bottom: -2%;
					left: 0;
					z-index: -1;
					opacity: 0.7;
				}
			}
		}
	}
}

ul {
	counter-reset: steps;
	font-size: 3.2em;
}
li {
	position: relative;
	counter-increment: steps;
	list-style-type: none;
	padding-left: 1.2em;
	&:not(:last-child) {
		margin-bottom: 0.8em;
	}
	a {
		transition: all 0.2s linear;
	}
	a:active {
		opacity: 0.8;
	}
}
li::before {
	position: absolute;
	content: counter(steps) ".";
	// color: white;
	width: 1.2em;
	height: 1.2em;
	left: 0;
	display: inline-grid;
	place-items: center;
	line-height: 1.2em;
}

.schedule {
	position: fixed;
	display: flex;
	display: none;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	font-size: 10px;
	&__conteiner {
		position: relative;
		width: 40em;
		height: 53em;
		// top: 50%;
		// left: 50%;
		// transform: translate(-50%, -50%);
		background: #d2dadc;
		border: 4px solid #000000;
		box-shadow: inset 0px 1.6em 2em rgba(0, 0, 0, 0.31);
		border-radius: 3em;
		padding: 3.2em 4em;
		button.close {
			font-size: 1em;
			position: absolute;
			top: 4em;
			right: calc(-4em + -2.5em); //-105px
			width: 4em;
			height: 4em;
			// opacity: 0.5;
			border-radius: 50%;
			transition: all 0.2s linear;
			cursor: pointer;
			z-index: 100;
			// background-color: var(--white);
			&::before,
			&::after {
				content: "";
				position: absolute;
				width: 0.4em;
				height: 3em;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%) rotate(0deg);
				background: #000000;
				border-radius: 50px;
				pointer-events: none;
			}
			&::after {
				transform: translate(-50%, -50%) rotate(-90deg);
			}
			&:hover {
				transform: rotate(45deg);
				opacity: 1;
			}
		}
		// }
		h2 {
			font-size: 4em;
			text-align: center;
			text-shadow: var(--text-border-2px);
			margin-bottom: 0.5em;
		}
		ol {
			font-size: 2.5em;
			li {
				padding-left: 1em;
				text-align: center;
				margin-bottom: 0.2em;
				text-shadow: var(--text-border-2px);
			}
		}
	}
	&__icons {
		.item {
			position: absolute;
			background: center/cover var(--img);
			z-index: -10;
		}
		.item:nth-child(1) {
			top: -18%;
			right: -20%;
			width: 19em;
			height: 19em;
			transform: rotate(5.5deg);
			z-index: 1;
		}
		.item:nth-child(2) {
			top: 65%;
			right: -20%;
			width: 12em;
			height: 12em;
			transform: rotate(110.5deg);
		}
		.item:nth-child(3) {
			bottom: -18%;
			left: -22%;
			width: 20em;
			height: 20em;
			transform: rotate(14deg);
		}
		.item:nth-child(4) {
			bottom: 60%;
			left: -14%;
			width: 9.5em;
			height: 9.5em;
			transform: rotate(-23.5deg);
		}
	}
}

@keyframes item-list-order {
	0% {
		left: -100%;
	}
	40% {
		left: 150%;
	}
	100% {
		left: 150%;
	}
}

@keyframes neon-animation {
	0%,
	100% {
		opacity: 1;
	}
	10% {
		opacity: 0.1;
	}
	20% {
		opacity: 0.1;
	}
	20.1% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
}

@keyframes rotate-footer {
	0% {
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		transform: translateX(-50%) rotate(360deg);
	}
}

@keyframes item-opacity {
	0%,
	48%,
	57%,
	100% {
		opacity: 1;
	}
	50%,
	53% {
		opacity: 0.8;
	}
}

@keyframes item-levitation {
	0%,
	50%,
	100% {
		margin-top: 0;
	}
	25% {
		margin-top: -20px;
	}
	75% {
		margin-top: 20px;
	}
}

@media (max-height: 1000px) {
	html {
		font-size: 0.9vmin;
	}
	.levels {
		transform: scale(0.8);
	}
}

@media (max-width: 1140px) {
	br {
		display: none;
	}
	.time br {
		display: block;
	}
}

@media (max-width: 800px) {
}

@media (max-width: 900px) {
	aside.info {
		.conteiner {
			padding: 0 var(--padding-LR);
			.questions {
				&::before {
					left: 0%;
				}
				&::after {
					right: 0%;
				}
			}
		}
		.interactive-background {
			.tips {
				transform: scale(0.9);
				margin-left: -10rem;
			}
		}
	}
}

@media (max-width: 750px) {
	header {
		font-size: 1.4rem;
		// padding-top: 10rem;
		.main {
			font-size: 6.6em;
		}
	}
	.list-item {
		font-size: 3.5rem;
	}
	.timers .event {
		font-size: 3.5rem;
	}
	footer {
		font-size: 4.4rem;
	}
	aside.info {
		.content {
			font-size: 1vh;
			.questions {
				&::before,
				&::after {
					display: none;
				}
			}
		}
		.interactive-background {
			font-size: 7px;
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			justify-content: space-evenly;
			align-items: center;
			.tips {
				justify-content: space-evenly;
				height: 90%;
				align-items: center;
				flex-direction: column-reverse;
				transform: scale(1);
				margin-left: 0;
				z-index: -2;
				.med-pack {
					transform: translate(-30vw, 0) rotate(-10deg);
				}
				.boxing {
					transform: rotate(-14.5deg) translate(15em, 4em);
				}
				.jackpot-token {
					transform: translate(-15em, -3em);
				}
				.gold {
					transform: translate(10em, 0);
				}
				& * {
					animation-play-state: running;
				}
			}
			.levels {
				right: 50%;
				transform: translateX(50%);
				bottom: var(--padding-LR);
				z-index: -5;
				// z-index: -1;
			}
		}
	}
	.facebook,
	.exit,
	button.info {
		font-size: 5rem !important;
	}
}

// @media (min-width: 600px) {
// 	::-webkit-scrollbar {
// width: 0px;
// 	}
// }

@media (max-width: 550px) {
	aside.info {
		.content {
			font-size: 0.9vh;
			.questions {
				margin-bottom: 0.5em;
			}
		}
		.interactive-background {
			.tips {
				.med-pack {
					transform: translate(-25vw, -30vw) rotate(-10deg) scale(0.9);
				}
				.boxing {
					transform: rotate(-14.5deg) translate(20em, 0em);
				}
				.jackpot-token {
					transform: translate(-15em, -7em);
				}
				.gold {
					transform: translate(15em, 0);
				}
			}
		}
	}
}

@media (max-width: 450px) {
	aside.info {
		.content {
			font-size: 0.8vh;
		}
		.interactive-background {
			.tips {
				.med-pack {
					transform: translate(-20vw, -15vh) rotate(-10deg);
				}
				.boxing {
					transform: rotate(-14.5deg) translate(15em, -4em);
				}
				.jackpot-token {
					transform: translate(-15em, -3em);
				}
				.gold {
					transform: translate(10em, 0);
				}
			}
			.levels {
				// z-index: -5;
				z-index: -1;
			}
		}
	}
}
